<div class="container">
    <div class="table-responsive">
        <table class="table table-hover" id="table_entries">
            <tr>
                <th><h4>标题</h4></th>
                <th><h4>时间</h4></th>
            </tr>
            <tbody id="tbody_entries">
            </tbody>
        </table>
    </div>
</div>

<script>
    var ws = new WebSocket('ws://localhost:9000/ws');
    var $message = $('#message');
    ws.onopen = function(){
      $message.attr("class", 'label label-success');
      $message.text('open');
    };

    ws.onmessage = function(ev){
      var json = JSON.parse(ev.data);
      var content='';
     $.each(json, function(i,item){
        var newRow = "<tr>" +
        "<td><a href="+item.url+">"+item.title+"</a></td>" +
        "<td>"+item.ts+"</td>" +
        "</tr>";
        content += newRow;
    });
      $('#tbody_entries').html(content);
    };

    ws.onclose = function(ev){
      $message.attr("class", 'label label-important');
      $message.text('closed');
    };

    ws.onerror = function(ev){
      $message.attr("class", 'label label-warning');
      $message.text('error occurred');
    };
  </script>
